<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ExpressionalRebel</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="icon" href="/static/img/favicon.png">
</head>
<body>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
{{{_sections.script}}}

<div class="container">
    {{{body}}}
</div>

</body>
</html>