{{> navbar deactivate='true'}}

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-5">
            <img class="float-end" src="/static/img/access-denied.png" width="48" height="48" alt="">
        </div>
        <div class="col-md-7">
            <h1>Denied access</h1>
        </div>
    </div>
       
</div>